@{
    ViewBag.Title = "Home";
}



<div class="row">

    <div style="text-align:center">

        <img src="~/Images/website-under-construction.png" style="width:600px;margin:0 auto;" />
    </div>
</div>
