body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}


.clock-wrapper {
    display: flex;
    font-size: 70px;
}

.clock-icon {
    margin: 7px 10px 0 0;
    color: #9F2637;
}

.iso-grid-item {
    width: 24%;
    text-align: center;
}

.grid-sizer {
    width: 25%;
}



.panel {
    margin-bottom: 20px;
    background-color: #ffffff;
    border: 1px solid transparent;
    border-radius: 2px;
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}

    .panel.active {
        color: #fff;
        background-color: #9F2637;
    }

.small-padding-top {
    padding-top: 35px;
}